/*
  grid-gap: 10px; // 间距
  grid-row-gap: 20px; // 行间距
  grid-column-gap: 30px; // 列间距
  grid-template-columns: 150px 150px 150px; 三列，每列150px
  grid-template-columns: repeat(auto-fill, 150px); 自适应换行，每个子项150px；类似于flex-wrap
  grid-template-columns: 1fr 2fr 150px; 剩余空间自适应排列；排列比例 1fr是排列比例 
  grid-template-columns: 150px minmax(100px, 250px) 150px; // minmax 该列最小值和最大值 可以用fr变量
  grid-template-columns: 150px auto 150px; // auto 该列自适应

*/

.container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-columns: 1fr 2fr 150px;
  grid-template-columns: 150px minmax(100px, 250px) 150px;
  grid-template-columns: 150px auto 150px;
  grid-gap: 10px 40px;
  // grid-row-gap: 20px; // 行间距
  // grid-column-gap: 50px; // 列间距
  .box {
    padding: 20px;
    font-size: 150%;
    background-color: #444;
    border-radius: 5px;
    color: #fff;
  }
  .b {
    // grid-column-start: 3;
    // grid-row-start: 3;
  }
  .c {
    // grid-column-start: 2;
    // grid-column-start: 2;
  }
}
